
.loading {
animation-name: App-logo-spin;
font-style: italic;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@keyframes App-logo-spin {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
